################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/人体生物节律查询软件/v16/Browse.VC.opendb
